<div class="footer">
    <img src="/images/Group 40.png" alt="mark" />
    <div class="logo">
        <h2>NORDIC ROSE</h2>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Consectetur hic dolor saepe quos accusamus recusandae, delectus,
            modi nemo id deleniti illo? Facilis culpa voluptatibus architecto
            quo omnis tempora dolore doloribus.
        </p>
    </div>
    <div class="links">
        <a href="#">Github</a>
        <a href="#">Linkedin</a>
        <a href="#">Twitter</a>
    </div>
    <div class="copyright">
        <p>&copy;2023 All rights reserved.</p>
    </div>
</div>
